@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center pt-5">
    <h1 class="display-4">Task Management System</h1>
    <img src="~/images/default/tms.png" class="pt-4 container" />
</div>
