@page
@model TMS.Pages.Admin.Task.IndexModel

<div class="border backgroundWhite container">
    <div class="row">
        <div class="col-6">
            <h2 class="text-secondary">Task List</h2>
        </div>
        <div class="col-6 text-right pt-2">
            <a asp-page="Upsert" class="btn btn-secondary"><i class="fas fa-fa-plus"></i> &nbsp; New Task</a>
        </div>
    </div>
    <br /><br />
    <table id="DT_load" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Requested Date</th>
                <th>Hours</th>
                <th>Priority</th>
                <th>Status</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/task.js"></script>
}

